@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "@fortawesome/fontawesome-free/css/all.css"; */

:root {
  --background: #fdf7f2;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #fdf7f2;
	}
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
